<% include ./partials/header %>

<h4>Welcome <span><%=CurrentUser.username%></span></h4>
<h5>You can add items</h5>
  <section class="jumbotran text-center">
	<div class="container">
	  <a class="btn btn-primary my-2" href="/addpowerglass">PowerGlass</a>
	  <a class="btn btn-secondary my-2" href="/addsunglass">SunGlass</a>
    </div>
  </section>
<% include ./partials/footer%>